%backup%~
.*~
.emacs.desktop
auto-save-list/
cache/
eglot-eclipse-jdt-cache/
elpa/
eww-bookmarks
lisp/*.*~
lisp/custome.el
projectile-bookmarks.eld
recentf
snippets/
tango-dark-theme.el
tramp
transient/
tutorial/
url/